#page-title {
    text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background-image {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.background-image img {
    transform: rotate(90deg);
    max-height: 25.2%;
    max-width: 18.9%;
    padding-bottom: 4%;
    padding-top: 4%;
}

#song-container {
  margin-top: 20px;
}
