.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background-image img {
    transform: rotate(90deg);
    max-height: 25.2%;
    max-width: 18.9%;
    padding-bottom: 2%;
    padding-top: 2%;
}

#greeting-container {
  margin-top: 20px;
}
